{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <title>Tomato</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href= "{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>    
    </head>

    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">tomato</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Create New Account</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <a href="#">
                        <div class="box-960">
                            <img class="imgheader w-100 h-75" src="../../static/images/{{home.images}}">
                        <span class="p-3 h3">{{home.kategori_resto}}</span><br>
                        <span class="p-3">{{home.deskripsi}}</span><br>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                {% for data in kategori %}
                <div class="col-md-4">
                    <a href="#"> <!-- {{data.id}} -->
                        <div class="box-360">
                        <img class="imgresto" src="../../static/images/{{data.images}}">
                        <span class="p-3"><strong>{{data.nama_resto}}</strong></span><br>
                        <span class="p-3">{{data.alamat}}</span><br>
                        <span class="p-3">{{data.gaya}}</span><br>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="container-fluid">
                <h2>Category</h2>
                    <span>Explore curated lists of top restaurants, cafes, pubs, and bars in Malang, based on trends</span>
                <div class="row">
                    {% for data in data%}
                    <div class="col-md-4">
                        <a href="{% url 'cat_detail' post_id=data.id %}"> 
                        <div class="box-350">
                        <img class="imgcategory h-100" src="../../static/images/{{data.images}}">
                        <span class="namecategory">{{data.kategori_resto}}</span> 
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div> 
    </body>
</html>