{% extends 'author/template.html' %}
{% load static %}

{% block isi %}
<section>
    <div class="container-fluid">
        <div class="row"> <!-- foto -->
            <div class="col-3"></div>
            <div class="col-6">
                <img class="blogimg" src="../{{blog.images}}" alt="">
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">  <!-- tanggal -->
            <div class="col-3"></div>
            <div class="col-3">
                <small><p>{{blog.tanggal_post}}</p></small>
            </div>
            <div class="col-3 ml-auto">
                <small><p class="text-right">{{blog.jumlah_komen}} Comment</p></small>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row"> <!-- judul dan isi ke bawah -->
            <div class="col-3"></div>
            <div class="col-6">
                <p class = "judul">{{blog.judul}}</p>
                <p>{{blog.konten}}</p>     
            </div>
            <div class="col-3"></div>
        </div>
</section>

{% endblock %}