.nav{
    margin-right: 500px;
    margin-left: 500px;
}

.kotak-form{
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 150px;
}

.kotak-menu{
    margin-top: 10px;
}

.row-review{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}